<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @club.owner %>
</p>

<p>
  <strong>Description:</strong>
  <%= @club.description %>
</p>

<h2>Book of Gnar</h2>
<%= render @club.rules %>

<h3>Add Rule</h3>
<%= render 'rules/form' %>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
